@model IEnumerable<chuongnh_shop.Models.Account>

@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section PageHeader{
    Tài khoản người dùng
}
@section css{
    <!-- DataTables -->
    <link href="/Areas/Admin/Content/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Admin/Content/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Admin/Content/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Admin/Content/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Admin/Content/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Admin/Content/plugins/datatables/dataTables.colVis.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Admin/Content/plugins/datatables/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Areas/Admin/Content/plugins/datatables/fixedColumns.dataTables.min.css" rel="stylesheet" type="text/css" />
}
@section js{
    <script src="/Areas/Admin/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.bootstrap.js"></script>

    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/buttons.bootstrap.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/jszip.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/pdfmake.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/vfs_fonts.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/buttons.print.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.keyTable.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/responsive.bootstrap.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.scroller.min.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.colVis.js"></script>
    <script src="/Areas/Admin/Content/plugins/datatables/dataTables.fixedColumns.min.js"></script>

    <!-- init -->
    <script src="/Areas/Admin/Content/pages/jquery.datatables.init.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({ keys: true });
            $('#datatable-responsive').DataTable();
            $('#datatable-colvid').DataTable({
                "dom": 'C<"clear">lfrtip',
                "colVis": {
                    "buttonText": "Change columns"
                }
            });
            $('#datatable-scroller').DataTable({
                ajax: "/Areas/Admin/Content/plugins/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({ fixedHeader: true });
            var table = $('#datatable-fixed-col').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 1
                }
            });
        });
        TableManageButtons.init();

    </script>
}
<div class="panel light-shadow white title-transparent rounded">
    <div class="card-box table-responsive">
        <p>
            @Html.ActionLink("Tạo mới người dùng", "Create")
        </p>
        <h4 class="m-t-0 header-title"><b>Danh sách người dùng</b></h4>
        <table id="datatable-buttons" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @item.DateTime.ToShortDateString()
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Username }) |
                            @Html.ActionLink("Xem", "Details", new { id = item.Username }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Username })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

