@model IEnumerable<chuongnh_shop.Models.Account>

@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section PageHeader{
    Tài khoản người dùng
}
@section PageDesc{
    Danh sách tài khoản người dùng
}
@section js{
    @*<script src="/Areas/Admin/Content/js/datatables.js"></script>*@
}
<div class="panel light-shadow white title-transparent rounded" data-title="<i class='fa fa-circle'></i> Danh sách người dùng">
    <div class="@*table-responsive*@ table-flip">
        <p>
            @Html.ActionLink("Tạo mới người dùng", "Create")
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateTime)
                    </th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Image)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateTime)
                        </td>
                        <td>
                            @Html.ActionLink("Sửa", "Edit", new { id = item.Username }) |
                            @Html.ActionLink("Xem", "Details", new { id = item.Username }) |
                            @Html.ActionLink("Xóa", "Delete", new { id = item.Username })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

