
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/css/style.min.css" rel="stylesheet" />
    <link href="/Content/css/style-responsive.min.css" rel="stylesheet" />
    <link href="/Content/css/theme/default.css" id="theme" rel="stylesheet" />
    <link href="/Content/css/animate.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/Content/plugins/pace/pace.min.js"></script>
    <link href="/Content/css/site.css" rel="stylesheet" />
    <!-- ================== END BASE JS ================== -->
    @RenderSection("css", required: false)
</head>
<body class="bg-silver">
    <!-- BEGIN #page-container -->
    <div id="page-container" class="fade">
        <!-- BEGIN #top-nav -->
        @RenderPage("TopNav.cshtml")
        <!-- END #top-nav -->
        <!-- BEGIN #header -->
        @{ Html.RenderAction("Header", "Home", null);}
        <!-- END #header -->
        <!-- BEGIN #slider -->
        @*@RenderPage("Slider.cshtml")*@
        <!-- END #slider -->
        <!-- BEGIN #body -->
        @RenderBody()
        <!-- END #body -->
        <!-- BEGIN #footer -->
        @RenderPage("Footer.cshtml")
        <!-- END #footer -->
    </div>
    <!-- END #page-container -->
    <!-- begin theme-panel -->
    @*@RenderPage("Theme.cshtml")*@
    <!-- end theme-panel -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="/Content/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="/Content/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="/Content/crossbrowserjs/html5shiv.js"></script>
        <script src="/Content/crossbrowserjs/respond.min.js"></script>
        <script src="/Content/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="/Content/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="/Content/js/apps.min.js"></script>
    <!-- ================== END BASE JS ================== -->
    @RenderSection("js", required: false)
    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>
</body>
</html>
